{% extends "base01.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block title %}
    Онлайн-калькулятор ипотеки
{% endblock %}
{% block main %}

    <nav class="navbar navbar-inverse">
  <!-- Контейнер (определяет ширину Navbar) -->
  <div class="container-fluid">
    <!-- Заголовок -->
    <div class="navbar-header">
      <!-- Кнопка «Гамбургер» отображается только в мобильном виде (предназначена для открытия основного содержимого Navbar) -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Бренд или название сайта (отображается в левой части меню) -->
      <a class="navbar-brand" href="#">Онлайн-калькулятор ипотеки</a>
    </div>
    <!-- Основная часть меню (может содержать ссылки, формы и другие элементы) -->
    <div class="collapse navbar-collapse" id="navbar-main">
      <!-- Содержимое основной части -->
        <ul class="nav navbar-nav">
        <li><a href="{% url 'main' %}">На главную</a></li>
        <li><a href="{% url 'saved_credits' %}">Сохраненные кредиты</a></li>
      </ul>
        {% if u_name != '' %}
            <p class="navbar-text navbar-right">Привет, {{ u_name }} <a href="{% url 'logout' %}">Выйти</a> </p>
        {% else %}
        <p class="navbar-text navbar-right">Привет, ГОСТЬ <a href="{% url 'login' %}">Войти</a> <a href="{% url 'register' %}">Заригестрироваться</a></p>
        {% endif %}
    </div>
  </div>
</nav>
    <body class="bg-light">
<div class="container">
    <div class="col-xs-12 col-md-9">
        <form class = "needs-validation" method="post" action="">
            {% csrf_token %}
             {{ form|as_bootstrap }}
            <input class="btn btn-primary" type="submit" value="Рассчитать">
        </form>
    {% if pay_count %}
        <br />
        <p class="lead">ежемесячная сумма выплат: {{ pay_count }}</p>
        <p class="lead">всего выплат: {{ all_pay }}</p>
        <p class="lead">переплата по кредиту: {{ over_pay }}</p>
        {% if u_name != '' %}
            <a class="btn btn-primary" href="{% url 'save' temp_id %}">сохранить</a>
        {% else %}
            <p><a href="{% url 'login' %}">Войдите</a> или <a href="{% url 'register' %}">зарегестрируйтесь</a> чтобы сохранить результат</p>
        {% endif %}
        <h3>График выплат:</h3>
        <table class="table table-striped">
        <tr>
            <th>дата</th>
            <th>сумма выплаты</th>
            <th>погашение кредита</th>
            <th>погашение процентов</th>
            <th>остаток долга</th>
        </tr>
            {% for cur_str in cur_pay_graf %}
                <tr>
                    <td>{% if cur_str.date.month == 1 %}Январь
                        {% elif cur_str.date.month == 2 %}Февраль
                        {% elif cur_str.date.month == 3 %}Март
                        {% elif cur_str.date.month == 4 %}Апрель
                        {% elif cur_str.date.month == 5 %}Май
                        {% elif cur_str.date.month == 6 %}Июнь
                        {% elif cur_str.date.month == 7 %}Июль
                        {% elif cur_str.date.month == 8 %}Август
                        {% elif cur_str.date.month == 9 %}Сентябрь
                        {% elif cur_str.date.month == 10 %}Октябрь
                        {% elif cur_str.date.month == 11 %}Ноябрь
                        {% elif cur_str.date.month == 12 %}Декабрь{% endif %}, {{ cur_str.date.year }}</td>
                    <td>{{ cur_str.pay_count }}</td>
                    <td>{{ cur_str.pay_cred }}</td>
                    <td>{{ cur_str.pay_percent }}</td>
                    <td>{{ cur_str.all_left }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    </div>
{% endblock %}
</div>
</body>