<html>
{% block title %}
    Онлайн-калькулятор ипотеки
{% endblock %}
{% block main %}
    <h1>Онлайн-калькулятор ипотеки</h1>
    <p>Вы вошли как {{ u_name }}</p>
    <a href="{% url 'logout' %}">Выйти</a>
    <h3>Сохраненные кредиты</h3>
    {% for credit in credits %}
        <h4>Сохраненные данные</h4>
        <p>Первоначальная сумма: {{ credit.all_cost }}</p>
        <p>Вступительный взнос: {{ credit.first_pay }}</p>
        <p>Процентная ставка: </p>
        <p>Срок кредита: {{ credit.term }} {{ credit.term_modif }}</p>
        <p>Дата создания: {{ credit.creation_date }}</p>
        <h4>Состояние на текущий момент</h4>
        <p>Текущая сумма: {{ credit.cur_left }}</p>
        <a href="{% url 'show_all' credit.id %}">Показать рассчетные данные и график выплат</a>
        <a href="{% url 'delete' credit.id %}">Удалить</a>
        <p>-----------------------------------------------------------------------------------------------</p>
    {% endfor %}
{% endblock %}
</html>